@use "variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
}

.container {
  margin: 0 auto;
  max-width: $container-max-width;
}
