:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 1.5rem;

  @media screen and (min-width: 720px) {
    align-items: stretch;
  }
}

.header {
  &__logo-btn {
    display: flex;
    align-items: stretch;
    outline-style: none;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__user-container {
    display: flex;
    gap: 1rem;
  }

  &__text-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__text {
    text-align: right;
    font-size: 1.2rem;

    &--subtext {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: #dbb056;
    }
  }

  @media screen and (min-width: 410px) {
    &__text-container {
      display: flex;
    }
  }

  @media screen and (min-width: 720px) {
    &__logo-container {
      display: flex;
      align-items: stretch;
    }

    &__logo-btn {
      transition: 0.2s;

      &:hover {
        transform: translateX(0.5rem);
      }
    }
  }
}
