<mat-card class="login">
  <mat-card-header>
    <h1 class="login__title">NazwaFirmy</h1>
    <h2 class="login__subtitle">Panel logowania</h2>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="form" class="login__form">
      <mat-form-field class="login__form-field">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
        />
        <mat-error *ngIf="formEmailControl.hasError('required')"
          >Pole wymagane</mat-error
        >
        <mat-error
          *ngIf="
            formEmailControl.value.length && formEmailControl.hasError('email')
          "
          >Nieprawidłowy format</mat-error
        >
      </mat-form-field>
      <mat-form-field class="login__form-field">
        <mat-label>Hasło</mat-label>
        <input
          formControlName="password"
          type="password"
          matInput
          autocomplete
        />
        <mat-error *ngIf="formPasswordControl.hasError('required')"
          >Pole wymagane</mat-error
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <button (click)="handleRemindPassword()" mat-raised-button>
      Przypomnij hasło
    </button>
    <button
      (click)="handleLoginIn()"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
    >
      Zaloguj się
    </button>
  </mat-card-actions>
</mat-card>
