<header class="dashboard__header">
  <div class="content-container">
    <app-header></app-header>
  </div>
</header>
<main class="dashboard__main">
  <button
    (click)="handleScrollToTop()"
    type="button"
    mat-mini-fab
    color="primary"
    class="dashboard__btn"
    [class.dashboard__btn--visible]="isScrollTopBtnVisible$ | async"
    matTooltip="Przewiń do góry"
    matTooltipPosition="left"
  >
    <mat-icon>expand_less</mat-icon>
  </button>
  <div class="content-container dashboard__main-container">
    <nav class="dashboard__nav">
      <app-navigation></app-navigation>
    </nav>
    <section class="dashboard__content">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
