:host {
  position: fixed;
  inset: 0;
  top: 112px;
  right: auto;
  z-index: 999;
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
