:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  &__link {
    text-decoration: none;
    font-weight: bold;
    color: #fcac18;
  }
}
